
#popupPokemon {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;

}

.exibePUP {
    display: flex;
    max-width: 95%;
    margin: 2rem auto;
    padding: 0;
    justify-content: center;
    position: absolute;
    top: 1em;
}

.ocultaPUP {
    display: none;
}

#tabelaCompletaPokemon {
    color: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: auto;
    /*border: 5px solid #000000;*/
    border-radius: 1rem;
}

.row-group {
    width: 100%;
}


.subtabelas {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 0.5rem;
    margin: 0.25rem auto;
    width: 100%;
}

#table_overview {
    background-color: transparent;
}

.subtabelas td {
    padding: 0.25rem;
}

#cel-name {
    text-align: left;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem
}

#cel-num {
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
    text-align: right;
    opacity: 0.5;
}

#cel-desc {
    text-align: left;
    font-size: 1rem;
    font-style: italic;
    padding: 0 0.5rem
}

.cel-title {
    background-color: #00000033;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 1.25rem;
    line-height: 2rem;
}

#body-stats {
    text-align: right;
}

.cel-stats-val {
    text-align: left;
}

#bttClosePUP {
    filter: brightness(0.7);
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    justify-content: center;
    margin: 0.25rem auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

#row-photo {
    line-height: 250px;
    max-height: 300px;
}

#col-photo {
    max-height: 100px;
    width: 100%;
}

#photo-pokemon {
    max-height: 200px;
    max-width: 95%;
    justify-content: center;
    vertical-align: middle;
}
